GtkWindow { background-color: #444; border: 1px solid #777; border-radius: 3px; }
GtkEventBox { background-color: rgba (0, 0, 0, 0); }
GtkFrame { padding:0px; }
VteTerminal { font:Monospace 11; }

#active_tab { font-weight:bold; }
#terminal_active GtkEventBox { background-image: -gtk-gradient
(linear, left top, left bottom, from (#f00), to (#640000)); }

#terminal_active GtkLabel { color: #fff; }

#terminal_inactive GtkEventBox { background-image: -gtk-gradient
(linear, left top, left bottom, from (#dcdcdc), to (#969696)); }

#terminal_inactive GtkLabel { color: #000; }
