vte-terminal {
    font-family: Monospace;
    font-size: 15px;
}

box#terminal_active {
    background-color: #c00;
}

#terminal_active label {
    color: #fff;
}

box#terminal_inactive {
    background-color: #ccc;
}

#terminal_inactive label {
    color: #000;
}
